html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}


/* Loader */

.shelf-loader-box {
  text-align: center;
  margin-top: 20px;
}

.loader-shelf-menu {
  margin-left: 10px;
}

.loader-box-svg {
  color: #2980b9;
  width: 100px;
  height: 100px;
  display: inline-block;
}
